# Unity temporary files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/
[Aa]ssets/AssetStoreTools
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
**/Assets/AddressableAssetsData/*.bin*
**/Assets/StreamingAssets
AssetImportState
.vs/
.gradle/
Export/
.idea/
.vscode/
**/*.autopkg